In [4]:
message = int(input("enter number"))
print((((message + 3) * 2) - 4) + 3)
#input given 5

15

In [34]:
Celsius = int(input("enter temperature in celsius"))
Fahrenheit = ((Celsius * 1.8) + 32)
print(Fahrenheit)

enter temperature in celsius 32

89.6

In [38]:
import math
r = int(input("enter radius"))
a = math.pi * r**2
print(a)

enter radius 2

12.566370614359172

In [102]:
color = input("enter color")

print(color*10)
print(color+ " " * 32 + color)
print(color*10)

enter color blue

blueblueblueblueblueblueblueblueblueblue
blue                                blue
blueblueblueblueblueblueblueblueblueblue

In [120]:
name = "\n\t   syed imran   \t\n"
print("Original name with whitespace:")
print(name)
print("Left stripped name:")
print(name.lstrip())
print("Right stripped name:")
print(name.rstrip())
print("Fully stripped name:")
print(name.strip())

Original name with whitespace:

	   syed imran

Left stripped name:
syed imran

Right stripped name:

	   syed imran
Fully stripped name:
syed imran

In [126]:
a = int(input("enter number for table"))
for i in range(1,11):
    print(f"{a} x {i} = {a*i}")

enter number for table 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [130]:
def describe_city(city, country="Pakistan"):
    print(f"{city} is in {country}.")

describe_city("Islamabad")           
describe_city("multan")            
describe_city("sydney", "Australia")

Islamabad is in Pakistan.
multan is in Pakistan.
sydney is in Australia.

In [132]:
def absolute_num(num):
    if num < 0:
        return -num  
    else:
        return num  

print(absolute_num(-5))
print(absolute_num(3)) 
print(absolute_num(0))

5
3
0

In [11]:
alphabet = str(input("Enter a alphabet")).lower()
print(alphabet)
if (alphabet == "a" or alphabet == "e" or alphabet == "i" or alphabet == "o" or alphabet == "u"):
    print(f"{alphabet} is a vowel")
else:
    print(f"{alphabet} is consonant")

a
a is a vowel

In [24]:
num = int(input("Enter a number"))
if num > 1:
    for i in range(2, (num//2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

13 is a prime number

In [25]:
for i in range(0,7):
    if(i == 3 or i == 6):
        continue
    else:
        print(i)

0
1
2
4
5

In [28]:
for i in range (1,6):
    for j in range (0,i):
        print(i,end = " ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [34]:
age = int(input("enter age"))
if(age < 2):
    print(f'person is a baby ({age})')
elif(age >= 4 and age < 13 ):
    print(f'person is a kid ({age})')
elif(age >= 13 and age < 20):
    print(f'person is a teenager ({age})')
elif(age >= 20 and age < 65):
    print(f'person is a adult ({age})')
elif(age >= 65):
    print(f'person is a elder ({age})')
else:
    print(f"{age} is not a right number")

person is a teenager (19)